{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block main %}
    <div class="container jumbotron">
        {{ form_start(form) }}
        <h1 class="text-center">PROFIL</h1>
        <p>Modifiez votre mot de passe</p>
        {{ form_row(form.email, {'lable':'Email'}) }}
        {{ form_row(form.password, {'label':'Nouveau mot de passe'}) }}
        {{ form_row(form.confirmpassword, {'label':'Verification nouveau mot de passe'}) }}
        <input type="submit" class="btn btn-primary"/>
        {{ form_end(form) }}
    </div>
{% endblock %}


